.chatads-logo {
	max-height: 10%;
	max-width: 10%;
	margin-left: 20px;
	margin-top: 5px;
}

#iphone {
	display: inline-block;
	float:right;
	margin-right: 300px;
	margin-top: 15px;
}

.keyword-box {
	display: inline-block;
	margin-left: 340px;
	margin-top: 200px;
	font-size: 60px;
	border-bottom: 2px solid black;
}

#x-button {
	margin-top: 50px;
	margin-left: 375px;
	padding: 10px;
	max-width: 7%;
	max-height: 7%;
}

#check-button {
	padding: 10px;
	max-width: 7%;
	max-height: 7%;
}

/*.chatads-logo {
	max-width: 20%;
	margin-left: 20px;
	margin-top: 15px;
}
*/







